div {
    height: 150px;
    width: 150px;
    border-radius: 15px;
    display: inline-block;
}

.red {
    background-color: red;
}

.blue {
    background-color: dodgerblue;
}

.grey {
    background-color: lightslategrey;
}

.green {
    background-color: greenyellow;
}